   {{> header user=demandes.agent}}
  <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Résultats des Permutations</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a href="#" style="color: orange">Accueil</a>
                  </li>
                  <li class="breadcrumb-item active">Permutation effectuées</li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
          <div class="container">
            <!-- Main content -->
            <section class="content">
              <!-- Default box -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Décembre 2021</h3>

                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                      title="Collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>

              
                <div class="card-body p-0">
                  <table class="table table-striped projects">
                    <thead>
                      <tr>
                        <th>N°</th>
                        <th>Matricule</th>
                        <th>Nom et Prénoms</th>
                        <th>Genre</th>
                        <th>DRENA d'origine</th>
                        <th>DRENA d'Accueil</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                      {{#each demandes }}
                        {{#if (issuccess Libelle_Statut_Dmde)}}
                            <tr>
                                <td>{{@index}}</td>
                                  <td>{{agent_demandeur.Matricule_agt}}</td>
                                  <td>{{agent_demandeur.nom_Agt}} {{agent_demandeur.prenoms_Agt}}</td>
                                  <td>{{agent_demandeur.sex_Agt}}</td>
                                  <td>{{Dren_Origine_Dmde}}</td>
                                  <td>{{Dren_Destination_Dmde}}</td>
                                <td>
                                <span class="badge badge-success">Effectué</span>
                            </td>
                          </tr>
                        {{/if}}
                     
                      {{/each}}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </section>
            <!-- /.content -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
  {{> footer }}